<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main ng-controller="TodoController as $ctrl">
        <p class="title">TODO List</p>
        <p class="subtext">A place to store things you have to do!</p>
        <input class="input" type="text" placeholder="Filter your todos" ng-model="$ctrl.newTask.filter">

        
        <ol>
            <li ng-repeat="todo in $ctrl.tasks | filter:$ctrl.newTask.filter">
                <div class="contentleft">
                    <p class="number">{{$index + 1}}.</p>
                    <button class="completeButton" ng-click="$ctrl.completeTask($index)" ng-if="!todo.completed">Complete</button>
                    <!-- task name -->
                    <p class="item" ng-class="{completed: todo.completed}">{{todo.task}}</p>
                </div>
                <i class="material-icons can" ng-click="$ctrl.removeTask($index)">delete_outline</i>
            </li>
        </ol>
        <form class="addfield" ng-submit="$ctrl.addTask($ctrl.newTask);">
            <input class="input" type="text" placeholder="Add your todos" ng-model="$ctrl.newTask.task">
            <button class="add" ng-disabled="!$ctrl.newTask.task">Add</button>
        </form>
    </main>
    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
</body>
</html>

<!-- <form class="footer" ng-submit="$ctrl.addTask($ctrl.newTodo);">
    <input type="text" ng-model="$ctrl.newTodo.task" placeholder="Add your to do">
    <button class="addButton" ng-disabled="!$ctrl.newTodo.task">Add</button>
  </form> -->